### Common files
*.log
.idea/*
/vendor/
/node_modules/

### WordPress core files
wp-admin/
wp-includes/
index.php
license.txt
readme.html
wp-*.php
xmlrpc.php


### WordPress plugins files
wp-content/plugins/akismet/
wp-content/plugins/hello.php

### WordPress themes files
wp-content/themes/twentytwenty/
wp-content/themes/twentynineteen/
wp-content/themes/twentyseventeen/
wp-content/themes/twentysixteen/